html{
  overflow-x: hidden;
  width: 100%;
}
#root {
  margin: 0;
  padding: 0;
  width: 100%;        
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
}
.brand-color{
  color: #f6af03;
}
.logo-text{
  font-weight: bold;
}
.text-strong{
  display: flex;
  gap: 24px;
  font-weight: 600;
}
.header {
  margin-top: 10px;        
  width: 100%;         
}

body{
  background-color: #f7f7f7 !important;
   overflow-x: hidden;
   width: 100vw;
}

/* Dados Perfil */

.infosSet{
  margin-top: 25px;
}

.infosCard{
  background-color: #f7f7f7;
  border-radius: 12px;
  padding: 2px;
  padding-top: 4px;
  color: #959595;
}

.infosCard p {
  padding-top: 10px;
  padding-left: 15px;
}

/* Profile */

.profile-container{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  border-radius: 18px;
  justify-content: flex-start;
  padding: 40px;
  width: 60vw;
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.1);
}

.profile-header{
  display: flex;
  flex-direction: row;
  gap:20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%; 
}

.profile-avatar{
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.profile-dados{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.info-container{
  width: 100%;
  margin-top: 10px;
  
}

.estagio-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* background-color: red; */
  width: 100%;
  margin-top: 40px;
}
.estagio-container h5{
  font-weight: 600;
}
.fotoEstagio{
  margin-top: 15px;
  width: 45px;
  height: 45px;
}
.estagio{
  display: flex;
}
.dados-estagio{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
}
.dados-estagio p {
  margin-bottom: 2px;
}
.text-faded{
  color: rgb(148, 147, 147);
}

.profile-button{
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 8px 50px ;
  border: #0f1729 ;
  border-radius: 9px;
  background-color: #0f1729 ;
  transition: all 0.3s ease;
}
.profile-button:hover{
  background-color: #0f1729 ;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1);
  transition: scale(1.05);
}