#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f7f7f7;
  width: 200vw;
  height: 100vh;
}

#auto{
  color: #f6af03;
  font-weight: 750;
  font-size: 22px;
  text-align: left;
  margin-left: 80px
}

#matize{
  color: black;
  font-weight: 750;
  font-size: 22px;
  text-align: left;
}

.navbar {
  width: 100vw;
  margin-top: 20px;
}

.navbar .container-fluid {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.logo {
  display: flex;
  align-items: center;
}

.menu-direito {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link-custom {
  color: #747474 !important;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  gap: 30x;
}

.nav-link-custom:hover {
  color: #f6af03 !important;
}

.perfil-icone {
  color: #747474;
  font-size: 1.5rem;
  vertical-align: middle;
}

.perfil-icone:hover {
  color: #f6af03;
}

.container3{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.formulario3{
  background-color: white;
  width: 650px;
  height: 500px;
  border-radius: 10px 0px 0px 10px;
  padding: 30px;
}

.detalhe{
  width: 26.7vw;
  height: 70vh;
  background: linear-gradient(135deg, #011b2b 48%, #045b90 100%);
  background-attachment: fixed;
  border-radius: 0px 10px 10px 0px;
}

.tituloCampo{
  color: #717171;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}

.conteudoCampo{
  background-color: transparent;
  border: 2px solid;
  padding-bottom: 10px;
  margin-bottom: 27px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-color: #939191;
  width: 20.5vw;
  color: #012e4b;
  font-size: 13px;
  font-weight: 600;
}

.botoesContainer3{
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 140px;
  gap: 30px;
}

.botaoRecusar3{
  background-color: #ffdfde !important;
  color: #af4d4d;
  border: 3px solid;
  border-color: #e07c78;
  font-weight: 600;
  height: 7vh;
  width: 14vw;
  font-weight: 500;
  padding: 10px 20px;
  margin-left: 13px;
}

.botaoRecusar3:hover {
  background-color: #de5853 !important;
  border: 3px solid;
  border-color: #de5853;
  color: white;
}

.botaoRecusar3:focus{
  border: none;
  outline: 0;
  box-shadow: none;
}

.botaoRecusar3:active{
  background-color: #932a27 !important;
  border: none;
  color: white;
}

.botaoEnviarMotivo{
  background-color: #ffdfde !important;
  color: #af4d4d;
  border: 3px solid;
  border-color: #e07c78;
  font-weight: 600;
  height: 7vh;
  width: 14vw;
  font-weight: 500;
  padding: 10px 20px;
  margin-left: 13px;
}

.botaoEnviarMotivo:hover {
  background-color: #de5853 !important;
  border: 3px solid;
  border-color: #de5853;
  color: white;
}

.botaoEnviarMotivo:focus{
  border: none;
  outline: 0;
  box-shadow: none;
}

.botaoEnviarMotivo:active{
  background-color: #932a27 !important;
  border: none;
  color: white;
}

.botaoAprovar3 {
  background-color: #a6e7d9;
  color: #2e9379;
  border: 3px solid;
  border-color: #88cbb8;
  font-weight: 600;
  height: 7vh;
  width: 14vw;
  padding: 10px 40px;
}

.botaoAprovar3:focus{
  border: none;
  outline: 0;
  box-shadow: none;
}

.botaoAprovar3:hover {
  background-color: #6dba92 !important;
  border: 3px solid;
  border-color: #6dba92;
  color: white;
}

.botaoAprovar3:active{
  background-color: #4c8165 !important;
  color: white;
  border: none;
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUpMotivo {
  background-color: white;
  width: 430px;
  height: 250px;
  border-radius: 10px;
  margin-right: 220px;
}

.popUpMotivo h4 {
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 10px;
}

.botoesPopUp {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 45px;
}

.botaoVoltarMotivo {
  background: transparent;
  border: 2px solid #012e4b;
  color:#012e4b;
  font-weight: 500;
  width: 130px;
}

.botaoEnviarMotivo {
  width: 130px;
}

.inputMotivo {
  display:flex;
  background: transparent;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid #ccc;
  width: 90%;
  margin-left: 20px;
  font-size: 14px;
  padding: 6px 8px;
  outline: none;
  color: #012e4b;
  height: 8vh;
}

.inputMotivo:focus {
  border-color: #045b90;
}