#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.Titulo{
  color: #f6af03;
  font-weight: 700;
  font-size: 1.6rem;
}
span{
  color: #012e4b;
}
.grid{
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: start;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.grid-1{
  margin-right: 16vw;
}
.grid-2{
  margin-top: 20vh;
}
.img1{
  height: 15vh;
  width: 30vw;
  margin-top: 28vh;
}
p{
  margin-left: 0.78vw;
  font-size: 1.1rem;
  color: #012e4b;
  font-weight: 550;
  margin-top: 1.5vh;
  margin-bottom: 3vh;
}
.B1{
margin-right: 5vw;
background-color: #012e4b;
border-color: #012e4b ;
padding: 10px 50px;
border-radius: 8px;
margin-left: 0.75vw;
font-weight: 550;
}
.B2{
background-color: white;
border-color: white;
color: #012e4b;
font-weight: 550;
}
.B1:hover{
background-color: #012e4b;
border-color: #012e4b ;
}
.B2:hover{
background-color: white;
border-color: white;
color: #012e4b;
}
  .destaque {
    position: relative;
    display: inline-block;
    font-weight: 800;
    font-size: 2rem;
    color: #0B0F1C;
    font-family: sans-serif;
  }

  .destaque::before {
    content: '';
    position: absolute;
    bottom: 0.2em;
    left: 0;
    width: 100%;
    height: 0.4em;
    background-color: #FFC300;
    z-index: 0;
    transform: rotate(-2deg);
    border-radius: 3px;
  }

  .destaque span {
    position: relative;
    z-index: 1;
  }